<h1>List Of Users</h1>

<table>
  <tr>
    <th>Categories</th>
    <th>Amount</th>
    <th>Description</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.firstname %></td>
    <td><%= user.lastname %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= link_to 'Show', :controller => 'users', :action => 'new' %></td>
  </tr>
<% end %>
</table>

<br />
<p id="notice"> <% if notice %> <%= notice %><%= alert %><% end %> 
</p>

