
<!--<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>-->
  <div class="jumbo">
  	<% if appuser_signed_in? %>  
    <h2>Profile<h2>
	<h3>This is <%= current_appuser.email %> 's profile page<h3>
	<% else %>
		<h3>Greetings!</h3>
	<% end %>
  </div>


<% if appuser_signed_in? %>
  <!-- Logged in as <strong><%= current_appuser.email %></strong>.   <%= session.inspect %> -->
  <%= link_to 'Edit profile', edit_appuser_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_appuser_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_appuser_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Sign In", new_appuser_session_path, :class => 'navbar-link'  %>
<% end %>