<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<%= link_to 'Back', posts_path %> | <%= link_to 'Edit', edit_post_path(@post) %>

<p id="notice"><%= notice %></p>