<p id="notice"><%= notice %></p>

<p>
  <b>Categories:</b>
  <%= @expense.categories %>
</p>

<p>
  <b>Amount:</b>
  <%= @expense.amount %>
</p>

<p>
  <b>Description:</b>
  <%= @expense.description %>
</p>

<p>
  <b>Email:</b>
  <%= @expense.email %>
</p>


<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
