<!DOCTYPE html>
<html>
  <head>
    <title>Planner</title>    
      <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
  </head>
  <body>
	<header>
	  <div class="container">
	    <h1 class="logo">Bplanner</h1>
	    <nav>
	      <ul class="menu">

        	<li><%= link_to "Home", root_path %></li>
		    <li><%= link_to "Budget", expenses_path %></li>
		    <li>
            <%= link_to "Expense", new_expense_path %>
		    </li>
		    <!-- {% if 'email' in session %}
		    <li><a href="{{ url_for('profile') }}">Profile</a></li>
		    <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
		    {% else %}
		    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
		    <li><a href="{{ url_for('signin') }}">Sign In</a></li>
		    {% endif %} -->
	      </ul>

	    </nav>
	  </div>
	</header>
   <div class="hd-line"></div>

    <div class="container">
		<% if notice %>
		  <p class="alert alert-notice"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-error"><%= alert %></p>
		<% end %>
		<p class="navbar-text pull-right">
		<%= yield %>
    </div>
  </body>
</html>
